<ion-view view-title="custom">
    <ion-header-bar>
        <h1 class="title">Custom Plugin Demo</h1>
        <button class="button button-clear button-positive" ng-click="onBack()">Back</button>
    </ion-header-bar>
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="test1()">调用Plugin返回成功信息</button><br>
        <button class="button button-block button-positive" ng-click="test2()">调用Plugin运行在子线程返回成功信息</button><br>
        <button class="button button-block button-positive" ng-click="test3()">调用Plugin返回错误信息</button><br>
    </ion-content>
</ion-view>
